  .el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 160px;
  }

  .el-menu {
    border: 0;
  }
  .leftIcon i{
    color: #95c7ff;
  }
  .left-menu1 .el-menu-item.is-active {
    background-color: #457adb !important;
  }