.role-set-page {
        .top-box {
            position: relative;
            margin-bottom: 20px;
            height: 33px;
            border-bottom: 1px solid #E4E7ED;
            .add-btn {
                position: absolute;
                top: 0;
                right: 0px;
            }
        }
        .role-info{
            font-size: 16px;
            span{
                display: inline-block;
                width: 100px;
                text-align: right;
            }
        }
    }

    .el-tree-node__content {
        span {
            margin: 0;
        }
        label {
            margin: 0;
        }
    }

    .permission-tree{
        float:left;
        padding:20px 40px 20px 20px;
        height:260px;
        overflow:auto;
        border:1px solid #EEEEEE;
    }
