.store-set-page{
  .top-box{
    position:relative;
    margin-bottom:20px;
    height: 36px;
    border-bottom:1px solid #d2d2d2;
    .add-btn{
      position: absolute;
      top:0;
      right:20px;

    }
  }
}

.el-tree-node__content {
  span {
    margin: 0;
  }
  label {
    margin: 0;
  }
}
.el-pagination{
  margin:20px 0;
  float: right;
}
.role-info{
  font-size: 16px;
  span{
    display: inline-block;
    width: 100px;
    text-align: right;
  }
}
.permission-tree{
  float:left;
  padding:20px 40px 20px 20px;
  width: 360px;
  height:360px;
  overflow:auto;
  border:1px solid #EEEEEE;
}
