.open-time-set-page {
        margin: 80px auto;
        padding-bottom: 40px;
        border: 1px solid #E4E7ED;
        .top-box {
            width: 100%;
            text-align: center;
            line-height: 60px;
            height: 60px;
            font-size: 16px;
            color: #666;
            background-color: #fafafa;
            border-bottom: 1px solid #f0f0f0;
            margin: 0 0 38px 0;
        }
        .time-box {
            margin: 0 auto 100px;
            ;
        }
        .saveBtn {
            position: relative;
            width: 100%;
            height: 40px;
            .save-btn {
                position: absolute;
                bottom: 0;
                right: 20px;
            }
        }
    }