.store-set-page {
        padding-bottom: 100px;
        .top-box {
            position: relative;
            margin-bottom: 20px;
            height: 36px;
             border-bottom:1px solid #E4E7ED;
            .add-btn {
                position: absolute;
                top: 0;
                right: 0px;
            }
        }
        .edit-input {
            width: 300px;
        }
        .store-tree-box{
            width: 800px;
            margin-left: 0;
            span{
                font-size: 15px;
            }
            
        }
    }
    
    .el-tree-node__content {
        span {
            margin: 0;
        }
    }
    
    .custom-tree-node {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        padding-right: 8px;
    }