
.account-set-page {
  .top-box {
    position: relative;
    margin-bottom: 20px;
    height: 33px;
    border-bottom: 1px solid #E4E7ED;
    .add-btn {
      position: absolute;
      top: 0;
      right: 0px;

    }
  }

}

