/*appCSS,公用css*/
#app {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  min-width:1204px;
  height: 100%;
  color: #ffffff;
  background-color: #EEF1F6;
}

input, .el-select-dropdown, .el-textarea, .el-textarea__inner, .el-message-box, .el-message,
.el-dropdown-menu, .el-button, .el-cascader-menu, .el-tooltip__popper, .el-picker-panel, .el-date-picker {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

a:focus {
  outline :none;
}
ul,li{list-style: none;}


.el-table th>.cell{
  text-align: center;
  color:#333;
}
.el-message .el-message__icon{
	margin: 0 10px;
}

/*左侧导航栏图标颜色重置*/
 .el-submenu__title i{
 	color: #95c7ff;
 }

 /*表格初始化样式*/
 .yingyanTable thead tr{
 	color: #666666;
 	background-color: #FAFAFA;
 	border: solid 1px #F5F5F5;
 }
 .yingyanTable td{
 	color: #2A2A2A;
 	border-bottom: solid 1px #F5F5F5;
 }

 /*分页底部样式*/
.paginationBox{
	text-align: center;
}
/*输入框和按钮的圆角*/
.el-input__inner{
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
}
button,.el-button{
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/*客流统计折线图分类样式重置*/
.el-radio-button__orig-radio:checked+.el-radio-button__inner{
	background-color: #FFFFFF;
	color:#409EFF;
}

.yy-button{
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    transition: .1s;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}
.yy-btn-mini{
	border-radius: 2px;
	font-size: 12px;
	padding: 7px 15px;
}
.yy-btn-checked{
	border-color: #409EFF;
	color: #409EFF;
}
.yy-button+.yy-button{
	margin-left: 10px;
}
.yy-button:hover{
	border-color: #409EFF;
	color: #409EFF;
}

/*仿element中form的label样式*/
.wd100{
	width: 100px;
}
.yy-form-item{
	display: inline-block;
	text-align: right;
    font-size: 14px;
    color: #606266;
    line-height: 40px;
    padding: 0 12px 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: bold;
}
    